body {
    SCROLLBAR-FACE-COLOR: #999999; 
	SCROLLBAR-HIGHLIGHT-COLOR: #f7f7f7;
	SCROLLBAR-SHADOW-COLOR: #f7f7f7; 
	SCROLLBAR-3DLIGHT-COLOR: #f7f7f7;
	SCROLLBAR-ARROW-COLOR: #ffffff; 
	SCROLLBAR-TRACK-COLOR: #f7f7f7; 
	SCROLLBAR-DARKSHADOW-COLOR: #f7f7f7;
}

/*#onglets
{
    font : bold 11px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 24px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    /*border-bottom : 1px solid #9EA0A1;
    margin-left : 0;
}*/
#onglets
{
        position : absolute;
        border : 1px solid transparent;
        padding : 0;
        font : bold 11px Batang, arial, serif;
        list-style-type : none;
        left : 50%;
        margin-top : 0;
        width : 430px;
		margin-left : -215px;
}

#onglets li
{
    float : left;
    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
}
#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}
#onglets a
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 4px;
}
#onglets a:hover
{
    background : #fff;
}
#menu
{
        border-bottom : 1px solid #9EA0A1;
        padding-bottom : 25px;
}

/* CSS Document */
input{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border : 1px solid #CCCCCC;
	font-size: 11px;
	color:#333333; 
	background -image: url("images/bg_input.gif");
	font-weight:normal;
}

input.input_libelle{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border : 0px solid #6A6D73;
	font-size: 11px;
	color : #99999;
	background -image: url("images/bg_input.gif");
	font-weight:normal;
}

textarea{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border : 1px solid #CCCCCC;
	font-size: 11px;
	color:#333333; 
	font-weight:normal;
	
	/*background -image: url("images/bg_input.gif"/*tpa=http://www.medianet.com.tn/images/gif/bg_textarea.gif);*/
	
}

select{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border : 1px solid #EFEFEF;
	font-size: 11px;
	color : #003366;
	background-color:#fffff;		 
}

input.input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border : 1px solid #CCCCCC;
	font-size: 11px;
	color:#333333; 	
}
.input_button{
	 border:1px solid #333333;
	 background-color:#993300;
	 color:#ffffff;
 }
/***************************************************************************************************************/
/* CSS txt */
.titre{	
	font-family: "Verdena";
	font-size: 16px;
	font-weight: bold;
	color:#333333;		
	}
.titre2{
	 font-family:"trebuchet ms",sans-serif;
	 font-size:12px;
	 color:#224499;
 } 	
.titre3{
	 font-family:"trebuchet ms",sans-serif;
	 font-size:12px;
	 font-weight:bold;
	 color:#224499;
 } 
.titre_orange{	
	font-family: "Calibri";
	font-size: 14px;
	font-weight: bold;
	color:#e78f2d;		
	}
.titre_rouge{	
	font-family: "Calibri";
	font-size: 14px;
	font-weight: bold;
	color:#ca7282;		
	}
.titre_bleu{	
	font-family: "Calibri";
	font-size: 14px;
	font-weight: bold;
	color:#8ab8dc;		
	}	
.texte_gris{	
	font-family: "Verdena";
	font-size: 16px;
	font-weight: normal;
	color:#333333;		
	}	
.texte_blanc{	
	font-family: "Calibri";
	font-size: 12px;
	font-weight: normal;
	color:#ffffff;		
	}
.texte_rouge{	
	font-family: "Calibri";
	font-size: 12px;
	font-weight:bold;
	color:#993300;		
	}			
.grans_titre_bleu{	
	font-family: "Calibri";
	font-size: 20px;
	font-weight: bold;
	color:#8ab8dc;		
	}			

.grans_titre_gris{	
	font-family: "Calibri";
	font-size: 20px;
	/*font-weight: bold;*/
	color:#333333;		
	}
.grans_titre_rouge{	
	font-family: "Calibri";
	font-size: 20px;
	/*font-weight: bold;*/
	color:#993300;		
	}	
.ligne_boite_outils{
     width:380px;
	 color:grey;
	 height:1px;
}	

/***************************************************************************************************************/
/* CSS navigation menu principal */
a.nav:link{
	font-family: "Calibri";
	font-size: 12px;
	text-decoration : none;
	color:#ffffff;
}
a.nav:visited{
	font-family: "Calibri";
	text-decoration : none;
	font-size: 12px;
	color:#ffffff;	
}
a.nav:hover{
	font-family: "Calibri";
	font-size: 12px;
	text-decoration : none;
	color:#d7D7D7;
}

a.nav_orange:link{
	font-family: "Calibri";
	font-size: 12px;
	text-decoration : none;
	color:#e78f2d;
}
a.nav_orange:visited{
	font-family: "Calibri";
	text-decoration : none;
	font-size: 12px;
	color:#e78f2d;	
}
a.nav_orange:hover{
	font-family: "Calibri";
	font-size: 12px;
	text-decoration : none;
	color:#333333;
}

a.nav_rouge:link{
	font-family: "Calibri";
	font-size: 16px;
	text-decoration : none;
	color:#993300;
}
a.nav_rouge:visited{
	font-family: "Calibri";
	text-decoration : none;
	font-size: 16px;
	color:#993300;	
}
a.nav_rouge:hover{
	font-family: "Calibri";
	font-size: 16px;
	text-decoration : none;
	color:#333333;
}


a.nav_orange_big:link{
	font-family: "Calibri";
	font-size: 14px;
	text-decoration : none;
	color:#e78f2d;
	font-weight:bold;
}
a.nav_orange_big:visited{
	font-family: "Calibri";
	text-decoration : none;
	font-size: 14px;
	color:#e78f2d;	
	font-weight:bold;
}
a.nav_orange_big:hover{
	font-family: "Calibri";
	font-size: 14px;
	text-decoration : none;
	color:#333333;
	font-weight:bold;
}

a.nav_rouge_big:link{
	font-family: "Calibri";
	font-size: 14px;
	text-decoration : none;
	color:#993300;
	font-weight:bold;
}
a.nav_rouge_big:visited{
	font-family: "Calibri";
	text-decoration : none;
	font-size: 14px;
	color:#993300;	
	font-weight:bold;
}
a.nav_rouge_big:hover{
	font-family: "Calibri";
	font-size: 14px;
	text-decoration : none;
	color:#333333;
	font-weight:bold;
}

a.nav_gris:link{
	font-family: "Calibri";
	font-size: 12px;
	text-decoration : none;
	color:#333333;
}
a.nav_gris:visited{
	font-family: "Calibri";
	text-decoration : none;
	font-size: 12px;
	color:#333333;	
}
a.nav_gris:hover{
	font-family: "Calibri";
	font-size: 12px;
	text-decoration : none;
	color:#999999;
}

/************************	style calendrier    **************************/
#calendar {
	width: 100%;
	border-collapse: collapse;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 110%;
}
#calendar th {
	border-left: 1px solid #999999;
	border-top: 1px solid #999999;
	padding: 0.5em;
	font-weight: bold;
	width: 14%;
}

#calendar td {
	border-left: 1px solid #999999;
	border-top: 1px solid #999999;
	margin: 0;
	padding: 0;
}

#calendar td a {
	display: block;
	text-decoration: none;
	color:#cc0000;
}

#calendar td a:hover {
	background-color: #A1B0CD;
	color: #660000;
}

.dim{
	background-color:#FFFFFF;
}

.aut {
	background-color: #A1B0CD;
}

.sam {
	background-color: #FFFFFF;
}

.ajd {
	background-color: #ffffff;
}

#calendrier {
	width: 100%;
	margin: 0;
	text-align: center;
}
#calendrier select {
	/*width: 49%;*/
	margin: 0;
	padding: 0;
}